ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
		.navbar-brand>img {
		   max-height: 100%;
		   height: 100%;
		   width: auto;
		   margin: 0 auto;


		   /* probably not needed anymore, but doesn't hurt */
		   -o-object-fit: contain;
		   object-fit: contain;

		}
		.card {
			position: relative;
			display: inline-block;
			margin: 50px;
		}
		.card .img-top {
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 99;
		}
		.card:hover .img-top {
			cursor: pointer;
			display: inline;
		}

.our-team{
    text-align: center;
}
.our-team .pic{
    position: relative;
}
.our-team .pic img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.social_media_team{
    background: rgba(59, 61, 66, 0.6);
    border-radius: 50%;
    transform: scale(0);
    transition: all 0.35s ease-in-out 0s;
    visibility: hidden;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    text-align: center;
}
.our-team:hover .social_media_team{
    transform: scale(1);
    visibility: visible;
}
.team_social{
    padding: 0;
    list-style: none;
    margin-bottom: 0;
    position: relative;
    top:43%;
    left:0;
}
.team_social > li{
    display: inline-block;
}
.team_social > li > a{
    width: 35px;
    height: 35px;
    display: block;
    background: #5d5d5d;
    line-height: 35px;
    color:#fff;
    transition: all 0.35s ease-in-out 0s;
    border-radius: 3px;
    font-size: 15px;
}
.team_social > li > a:hover{
    background: #31aab5;
}
.post-title > a{
    color:#fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    text-transform: capitalize;
}
.post-title > a:after{
    content:"|";
    color: #31aab5;
    display: inline-block;
    padding: 0 5px 0 10px;
}
.post-title small{
    color:#999;
    font-size: 12px;
}
.description{
    color:#fff;
}
.read{
    font-size: 13px;
    font-style: italic;
    font-weight: 400;
    color:#31aab5;
}
.read:hover{
    color:#fff;
}
@media screen and (max-width: 990px){
    .our-team{
        margin-bottom: 30px;
    }
}