body{
	background-color:#4f4950
}

#contenedor {
	width:100%;
	margin:auto;
}

#logo{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#cuerpo{
	margin:auto;
	height:100%;
}

#menu_lateral{
	display:none;
	width:25%;
	height:100%;
	float:left;
}

#menu_lateral ul{
	list-style: none;
	padding:10px;
}

#menu_1{
	background-color: #855E42 ;
	padding-left:5px;
}

#menu_lateral li{
	list-style: none;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:50px;
	padding-left:5px;
}

#menu_lateral a{
	list-style: none;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:50px;
	padding-left:5px;
	text-decoration: none;
	color: white;
}

.icono{
	text-decoration: none;
	color: white;
	padding:15px;
}

#menu_lateral a:hover{
	background-color: #3F7FBF;
}

#contenido{
	float:left;
	background-color:#F4EADE;
	width:95%;
	height:100%;
	overflow-y: scroll;
}

.contenido_padding{
	padding:5%;
}

#menu_oculto{
	display:block;
	width:5%;
	height:100%;
	float:left;
}

#boton_menu{
	display:none;
	cursor:pointer;
}

/*
@media (max-width: 420px) {
	#contenedor{
		width:100%;
		margin:auto;
	}
	#menu_lateral{
		display:none;
	}
	#contenido{
		width:65%;
	}
	#menu_oculto{
		display:block;
		width:15%;
		background-color: #2D4262;
		height:100%;
		float:left;
	}	
}*/